@font-face {
  font-family: shabnam;
  src: url("../fonts/Shabnam-Bold.ttf"), url("../fonts/Shabnam-Light.ttf"),
    url("../fonts/Shabnam.ttf");
}

* {
  padding: 0;
  margin: 0;
  direction: rtl;
  box-sizing: border-box;
  font-family: shabnam;
  text-decoration: none;
  list-style-type: none;
}

body {
  position: relative;
}

header {
  width: 100%;
  background-color: blueviolet;
  padding: 40px 0;
  text-align: center;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px 0;
  color: white;
}

.menu-link {
  color: white;
  margin-left: 20px;
}

.body {
  width: 100%;
  display: flex;
}

.body .sidebar {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-left: 3px solid blueviolet;
}

.sidebar .home-login {
  width: 100%;
  border-bottom: 3px solid blueviolet;
}

.home-login h1 {
  font-size: 20px;
  text-align: center;
  padding: 10px 0;
  height: fit-content;
}

.home-login input[type="text"],
.home-login input[type="password"] {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid blueviolet;
  display: block;
  margin: 5px auto;
}

.home-login .radio-button {
  margin: 10px 10%;
}

.home-login input[type="submit"] {
  display: block;
  width: 40%;
  margin: auto;
  background: transparent;
  outline: none;
  border: 1px solid blueviolet;
  padding: 5px 0;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.home-login input[type="submit"]:hover {
  background-color: blueviolet;
  color: white;
}

.coupon {
  padding: 10px 10%;
}

.coupon-code {
  width: 100%;
  padding: 30px 50px;
  background-color: blueviolet;
  color: white;
  text-align: center;
  border-radius: 8px;
  margin: 10px auto;
}

.coupon-code p {
  width: 100%;
  text-align: justify;
}

.main {
  padding: 5%;
  max-width: 100%;
  text-align: center;
}

.products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.product {
  width: calc(100% / 3 - 10px);
  margin: 30px 10px;
  box-shadow: 4px 0px 20px grey;
  padding: 10px 0;
  border-radius: 12px;
}

.product .title {
  width: 50%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  border-radius: 12px;
}

.product .status {
  margin: 10px 0;
}

span.available {
  color: green;
}

span.unavailable {
  color: red;
}

.product .price {
  margin: 5px 0;
}

.product .add-to-cart {
  margin: 5px 0 10px;
  color: rgb(103, 219, 26);
  cursor: pointer;
}

footer {
  width: 100%;
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 30px 0;
}

.menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 22px;
  color: white;
  display: none;
}

@media screen and (max-width: 900px) {
  .sidebar {
    width: 70% !important;
  }

  .product {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  header {
    position: relative;
  }

  .products {
    margin-top: 20%;
  }

  .sidebar {
    position: absolute;
    z-index: 998;
    right: -70%;
    height: 100%;
    transition: 0.3s linear;
  }

  .sidebar.open {
    right: 0;
    background-color: white;
  }

  .menu-icon {
    display: block;
    z-index: 999;
  }

  .menu-icon.open {
    color: black;
  }
}

.login {
  display: block;
  width: 50%;
  margin: 5% auto;
  background-color: blueviolet;
  padding: 30px 50px;
  border-radius: 12px;
}

.login input[type="text"],
.login input[type="password"] {
  display: block;
  border: none;
  outline: none;
  width: 60%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 4px;
}

.login .radio-button {
  margin: 10px 20% 0;
  color: white;
}

.login input[type="submit"] {
  padding: 5px 30px;
  display: block;
  margin: 20px auto 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: white;
  transition: 0.2s;
}

.login input[type="submit"]:hover {
  transform: scale(1.1);
}

.login .forgot-password {
  color: white;
  margin: 10% 20% 0;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .login {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .login {
    width: 80%;
  }

  .login input[type="text"],
  .login input[type="password"] {
    width: 80%;
  }
}

.dashboard-table {
  width: 80%;
  margin: 100px auto;
  text-align: center;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

.dashboard-table th {
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  padding: 20px 0;
}

.dashboard-table td {
  border-bottom: 1px solid blueviolet;
  padding: 15px 0;
}

.edit, .delete {
  color: black;
  padding: 3px 10px;
  border-radius: 4px;
  margin: 0 10px;
}

.edit {
  background-color: rgb(255, 213, 0);
}

.delete {
  background-color: red;
}

.new-row {
  color: white;
  font-weight: bold;
  background-color: blueviolet;
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  margin: 2% 10% 0;
}