<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>هفت رنگ</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <link rel="stylesheet" href="../../public/css/style.css" />
</head>

<body>
  <header>
    <h1>فروشگاه رنگ ساختمانی هفت‌رنگ</h1>
    <nav>
      <ul class="menu">
        <a href="#" class="menu-link">خانه</a>
        <a href="#" class="menu-link">درباره ما</a>
        <a href="#" class="menu-link">تماس با ما</a>
        <a href="#" class="menu-link">شعب</a>
        <a href="#" class="menu-link">کاتالوگ</a>
        <a href="login.html" class="menu-link">ورود</a>
      </ul>
    </nav>
  </header>

  <form action="#" method="post" class="login">
    <input type="text" name="username" placeholder="نام کاربری" required />
    <input type="password" name="password" placeholder="رمز عبور" required />
    <div class="radio-button">
      <input type="radio" name="level" id="manager" />
      <label for="manager">مدیر</label>
    </div>
    <div class="radio-button">
      <input type="radio" name="level" id="seller" />
      <label for="seller">شعب</label>
    </div>
    <div class="radio-button">
      <input type="radio" name="level" id="client" />
      <label for="client">خریدار</label>
    </div>
    <p class="forgot-password">فراموشی رمز عبور</pد>
      <input type="submit" value="ورود">
  </form>
</body>
<script src="../../public/js/script.js"></script>

</html>